/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma/css/bulma.css
 *= require bulma-toast/dist/css/bulma-toast.min.css
 *= require_tree .
 *= require_self
 */

 body {
   font-family: 'Slabo 13px', serif;
 }

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.navLogo{
  padding-right: 10px;
}
.navbar-start{
  align-items: center;

}

.sign-in-link {
  padding-right: 5px;
  color: #0000006b;
  transition: all .1s ease-in;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.navbar-menu {
  color: #0000006b;
}

.sign-in-link:hover{
  color: #000000c4;
}

.navbar-menu a:link, a:visited {
  color: #0000006b;
  transition: all .1s ease-in;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.navbar-menu a:hover {
  color: #000000c4;
}

.navContainer {
  margin-bottom: 7.0rem;
}

.main-login-container {
  background-color: #228be6;
  color: whitesmoke;
  height: 100vh;
  font-family: 'Slabo 13px', serif;
}

.intro-text-row{
align-items: center;
}

.loginBtns{
  padding: 15px;
  width: 90%;
  color: whitesmoke;
  background-color: #228be6;
  box-shadow: 1px 3px 1px 1px #228be65e;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.loginBtns:hover{
  background-color:#083964;
}

.login-box{
  border: 1px solid whitesmoke;
    color: #00000091;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 3px 2px 0px lightgrey;
    transition: all 0.5s ease-in;
}

.login-box:hover{
  color:#000000c2;
}

.sign-in-sentence{
  color: #00000091;
}

.newUserIntroContainer{
background-color: #228be6;
color: whitesmoke;
transition: all 0.2s ease-in;
padding: 50px;

}
.newUserIntroContainer a{
  color:whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  padding: 15px;
}

.newUserIntroContainer a:hover{
  color: #083964;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
