// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gallery-image {
  transition: all 0.7s ease-in;
}
.gallery-image:hover {
  opacity: 0.8;
  padding: 5px;
  cursor: pointer;
}

.taken-by{
  float:right;
}
