// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-user {
  border-bottom: 1px solid #d3d3d3bf;
  padding-bottom: 25px;
  margin: 25px 40px;
}

.user-full-name {
  border-bottom: 1px solid #d3d3d3bf;
  padding-bottom: 25px;
  margin: 25px 40px;
}

.photoContainer {
  padding: 0 25px;
}

.addPhotoLink {
  float: right;
  color: #0000006b;
  transition: all 0.2s ease-in;
}

.photo {
  transition: all 0.2s ease-in-out;
}

.photo:hover {
  box-shadow: 2px 2px 10px 2px #a2a2a2;
  cursor:pointer;
}

.edit-link  {
  float: right;
  color: #0000006b;
}

.edit-link a:visited{
  color: #3094cd;
}
.delete-photo:hover{
  cursor:pointer;
  color: red;
}

.submit-changes-btn{
  padding: 15px;
    border-radius: 3px;
    background-color: #228be6;
    color: whitesmoke;
    font-size: 1.1rem;
    box-shadow: 1px 1px 1px 1px #228be65e;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.submit-changes-btn:hover{
  background-color: #083964;
}
